body{
    color: #3967b3;
    text-align: center;
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    
}


.container {
    width:100%;
    height:220px;
    background: linear-gradient(#3967b3, white);
    text-align: center;

}

img {
    align-items: center;
    width:110px;
    padding: 30px;
    
}

ul {
    
    display:inline;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
    unicode-bidi: isolate;
    
}

.tabella{
    display: inline-block;
}

.contatti {
    font-style: italic;
    font-size: small;
}


